{% block title %}
درباره‌ی یکی از یادگاری‌هایتان
{% endblock %}

{% block message %}
<html dir="rtl">
<body dir="rtl">
<p>
سلام {{user.user.first_name}}.
</p>
<p>
جشن فارغ‌التحصیلی نزدیکه و داریم دفترچه رو آماده می‌کنیم.
    اما وقتی داشتیم یکی از یادگاری‌هایی که دوستات برات نوشتن رو وارد دفترچه می‌کردیم،
    حس کردیم شاید ترجیح بدی این یادگاری زیر اسمت ثبت نشه. برای همین به کمکت نیاز داریم.
    لطفا هر چه زودتر یه سری به سایت بزن و این یادگاریو بخون و به ما بگو که دوست داری این یادگاری رو زیر اسمت چاپ کنیم یا نه..
</p>
</body>
</html>
{% endblock %}
