{% block title %}
نکته‌ای درباره‌ی یکی از یادگاری‌هایتان
{% endblock %}

{% block message %}
<html dir="rtl">
<body dir="rtl">
<p>
سلام {{user.user.first_name}}.
</p>
<p>
این پیام به صورت اتوماتیک از طرف سایت برات فرستاده شده و کسی از گیرنده این پیام مطلع نیست.
خیلی ممنون از اینکه وقت گذاشتی و برای دوستات توی سایت یادگاری نوشتی.
    راستش موقعی که داشتیم متن‌ها رو برای گذاشتن توی دفترچه یادگاری بررسی می‌کردیم، متوجه شدیم که متنی که برای {{target}} نوشتی ممکنه برای اون ناراحت‌کننده باشه و یا اینکه لزوما بد نیست ولی دوست نداشته باشه توی دفترچه زیر اسمش چاپ بشه.
    هدف این جشن و همینطور دفترچه، ایجاد یه خاطره خوب برای همه هست و دوست نداریم کسی خاطره بدی از دفترچه توی ذهنش بمونه، حتی دوستای دیگه‌مون.
    برای همین فعلا متنت رو توی دفترچه نذاشتیم.
اگر فکر میکنی اشتباه کردیم و {{target.user.first_name}} با بودن این متن توی دفترچه مشکلی نداره، میتونی توی سایت اینو اعلام کنی. توی قسمت یادگاری‌های من.
    اون وقت ما از خودش برای چاپ این متن اجازه می‌گیریم.
    اگر هم پشیمون شدی میتونی متن رو ویرایش کنی.

منتظر جوابت هستیم.
</p>
</body>
</html>
{% endblock %}
