{% extends 'main/memento_base.html' %}

{% load static %}
{% load my_tags %}

{% block active_memento_review %}active{% endblock %}

{% block content %}
    <div class="ui secondary {{config.theme_color}} segment"
         style="margin-top: 100px; margin-right: 200px; margin-left: 200px; margin-bottom: 200px; padding: 60px;">
        {% if form %}
        <form method="post" action="">
            {% csrf_token %}
            <div class="hidden">
                {{ form }}
            </div>

            <div class="ui equal width grid">
                <div class="ui right middle aligned  column">
                    گیرنده: {{comment.target}}
                </div>
                <div class="ui left aligned  column" >
                به نظر من
                        <button class="ui  green button" name="accept_button">
تو دفترچه باشه
                        </button>
                        <button class="ui  red button" name="reject_button">

تو دفترچه نباشه
                        </button>
                </div>
            </div>
            <div class="ui  divider"></div>
            <div class="ui message">
            <p style="font-size: 14px;">
                {{ comment.text }}
            </p>
            </div>



        </form>
    {% else %}
    <p style="font-size: 14px;">
    فعلا چیزی برای بازنگری نیست
    </p>
    {% endif %}
    </div>
    <div class="ui mini modal" style="top:auto;bottom:auto;right:auto;left:auto;">
        <div class="header" style="text-align: right">
            مطمئن هستید؟
        </div>
        <div class="actions" style="text-align:left;">
            <div class="ui negative button">
                نه!
            </div>
            <div class="ui positive right labeled icon button">
                آره
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    <script>
        $(document).ready(function () {
            $("form [name=reject_button]").on('click', function (event) {
                const button = $(event.target);
                if (button.data("confirmed")) {
                    button.data("confirmed", false);
                    return;
                }
                event.preventDefault();

                $('.ui.modal').modal({
                    onApprove: function () {
                        button.data("confirmed", true);
                        button.click();
                    }
                }).modal('show')
                ;
            })
        });
    </script>
{% endblock %}